<template name="about">
  {{> textAbout}}
</template>

<template name="textAbout">
	<p>Bacon ipsum dolor amet doner tenderloin kevin, rump porchetta cupim fatback short ribs spare ribs alcatra. Salami jowl doner venison, short loin swine kielbasa kevin rump. Turkey venison bacon sausage pancetta hamburger. Cow biltong porchetta landjaeger, tri-tip andouille prosciutto filet mignon picanha fatback bacon brisket. Picanha jerky kielbasa frankfurter, landjaeger pork loin pork short loin strip steak tail tri-tip. Ground round beef ribs tenderloin, shank cow bacon flank tongue kevin ham hock kielbasa.
	</p>

	<p>
	Meatloaf pastrami turducken turkey, rump cupim prosciutto. Ribeye kevin meatloaf picanha. Landjaeger porchetta frankfurter ground round tongue pork chop. Drumstick sausage ham hock picanha pancetta. Short loin alcatra pastrami strip steak. Chicken alcatra kevin leberkas ribeye boudin shankle spare ribs meatloaf. Pastrami turkey ham filet mignon shoulder.
	</p>
</template>