<template name="colinproject">
  {{> textMain}}
</template>

<template name="textMain">
	
	<p class="mainText">
	 Welcome to a random website that shows all of Colin Baker's television series that he has viewed. Each page contains some details about the series, the particular seasons Colin has watched and some thoughts he had. All of this data was taken from his past Twitter timeline because he is cool and used the same format for each tweet to record his tv viewing addicition. In the next release, it will update in real-time. Hope you like wasting your time on this as I did.
	</p>
	<p>
		Made by: Alec Brunelle
	</p>

</template>


