<template name="colinprojectgood">
  {{> textMain}}
</template>

<template name="textMain">
	<p>Bacon ipsum dolor amet chuck shankle tail, pork belly pastrami short loin alcatra hamburger flank kevin doner shoulder ham. Shank pig drumstick, bacon tail ball tip corned beef boudin. Kielbasa shank chicken, short loin turducken ham leberkas flank beef pork loin pancetta sirloin tri-tip porchetta. Bacon cupim tri-tip turkey tongue. Shank shankle brisket, drumstick corned beef hamburger filet mignon sirloin turkey ribeye boudin andouille biltong tongue. Shankle pastrami alcatra, drumstick bresaola tri-tip sausage tail pig short loin. Tongue boudin tail, short loin shankle salami andouille shank picanha venison ham swine prosciutto chicken drumstick.
	</p>
	
	<p>
	Strip steak short loin spare ribs shank. Short ribs flank capicola, pork turkey cupim meatball tongue. Biltong ham hock pig meatball pork loin pork tongue drumstick. T-bone leberkas andouille short loin kielbasa. Pig andouille ham venison beef ribs pancetta.
	</p>
</template>


